@font-face {
    font-family: 'Black Mustang';
    src: url('Fontes/black_mustang/Black Mustang.ttf');
}

body {
    margin: 0;
    font-family: 'fonte 3';
    background-color:#007377; 
    color: #007377; 
}

.container {
    display: flex;
    height: 100vh;
}

.image {
    flex: 1;
    background: #faefe6;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image img {
    max-width: 100%;
    height: auto;
}

.login-form {
    flex: 1;
    background: #007377;
    color: #FEF0E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.login-form h2 {
    margin-bottom: 20px;
    color: #FEF0E6;
}

.login-form label {
    margin: 10px 0 5px;
}

.login-form input {
    padding: 8px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 160px;
    border: none;
    border-radius: 5px;
    
}

.login-form button[type="submit"] {
    background: #FEF0E6;
    color: #007377;
    padding: 19px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   

}

.login-form button[type="button"] {
    padding: 1px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #FEF0E6;
    color: #007377;


}





.button-container button:hover {
    background-color: #fae2d1;
    transform: scale(1.1);
}


.login-form button[type="submit"] {
    margin-left: 140px; 
}