html, body {
    font-family:'fonte';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header {
    width: 85px;
    height: 85px;
    background-color: #0000004b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000;
}

.menu {
    display: none;
    position: absolute;
    top: 85px;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #0000004b;
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap; 
}

.menu img {
    margin-bottom: 10px; 
}

.menu a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    font-family: 'fonte 3';
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu a + a {
    margin-left: 20px; /* Adiciona margem à esquerda para separar os itens */
}
.menu a:hover {
    color: #006666;
    transform: scale(1.1);
}

.header img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    
}


#pagina-inicial {
    background-color: #FAEBD7;
    background-image: url('../Imagens/Pagina Inicial.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

#escolha {
    background-color: #E0FFFF;
    background-image: url('../Imagens/Escolha\ ente\ trabalhador\ e\ empresa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
    
}

#trabalhador {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAEBD7;
    background-image: url('../Imagens/Login Trabalhador.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAEBD7;
    background-image: url('../Imagens/Login Empresa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#final {
    background-color: #FAEBD7;
    background-image: url('../Imagens/Ultima Pagina.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1, h2 {
    color: #004d4d;
    font-family:'fonte';
}

p {
    font-size: 1em;
    color: #007377;
    width: 80%;
    font-family:'fonte';
}

button {
    background-color: #004d4d;
    color: white;
    border: none;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-family:'fonte';
}

button:hover {
    background-color: #006666;
    transform: scale(1.1);
}

.confira-btn {
    background-color: #1c797e;
    position: absolute;
    top: 75vh;
    left: 36.5%;
 
}

.confira-btn:hover {
    background-color: #006666;
}

.escolha-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.escolha-trabalhador, .escolha-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escolha-button {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
}

.escolha-button:hover {
    transform: scale(1.1);
}

.dummy-image {
    width: 300px;
    height: 200px;
    background-color: #cccccc;
    margin: 20px 0;
    border-radius: 10px;
}

.escolha-button.trabalhador-btn {
    background-color: #004d4d;
    position: relative;
    top: 39vh;
    right: 30%;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 50px;
}

.escolha-button.empresa-btn {
    background-color: #ffffff;
    color: #004d4d;
    position: relative;
    bottom: 20vw;
    left: 22.5%;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 50px;
    
}

.escolha-button.trabalhador-btn:hover {
    background-color: #006666;
}

.escolha-button.empresa-btn:hover {
    background-color: #d3d3d3;
}

.trabalhador-login-btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative;
    top: 13vw;
    right: 27.5vw;
}

.trabalhador-cadastro-btn {
    position: relative;
    top: 17vw;
    right: 27.5vw;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.empresa-login-btn {
    background-color: #ffffff;
    color: #004d4d;
    position: relative;
    top: 13vw;
    right: 27.5vw;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 50px;
    
}

.empresa-cadastro-btn {
    background-color: #ffffff;
    color: #004d4d;
    position: relative;
    top: 17vw;
    right: 27.5vw;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 50px;
}

.empresa-login-btn:hover {
    transform: scale(1.1); 
}

.empresa-cadastro-btn:hover {
    transform: scale(1.1); 
}

.trabalhador-login-btn:hover {
    transform: scale(1.1); 
}
.trabalhador-cadastro-btn:hover {
    transform: scale(1.1); 
}

@font-face {
    font-family:'fonte';
    src: url(../fontes/tt_octosquares/TT\ Octosquares\ Trial\ Expanded\ Regular.ttf) format('truetype');
}
@font-face {
    font-family:'fonte 2';
    src: url(../fontes/Bree_Serif/BreeSerif-Regular.ttf) format('truetype');
}
@font-face {
    font-family:'fonte 3';
    src: url(../fontes/caviar_dreams/CaviarDreams.ttf) format('truetype');
}
@font-face {
    font-family:'fonte 4';
    src: url(../fontes/black_mustang/Black\ Mustang.ttf) format('truetype');
}
@font-face {
    font-family:'fonte 5';
    src: url(../Fontes/mirage_gothic/Mirage\ final.ttf) format('truetype');
}
@font-face {
    font-family:'fonte 6';
    src: url(../fontes/rossans/Rossans\ Reguler.otf) format('truetype');
}
@font-face {
    font-family:'fonte 7';
    src: url(../fontes/starstruck/Starstruck.ttf) format('truetype');
}
